%header
	.container
		.intro-text
			.intro-lead-in Welcome To Our Studio!
			%form
			/ create a form the queries game occurence based on address and date entered	
			%a.page-scroll.btn.btn-xl{:href => "#services"} Tell Me More


