%section.main
	%header
	.overlay
		.container
			.intro-text
				.intro-lead-in Welcome To Our Studio!
				= form_tag upcoming_path, :method => 'get' do
					= text_field_tag 'datepicker', params[:date]
					= text_field_tag :address, params[:address]
					= submit_tag "Search", :name => nil