%section.search-top.container
	.row
		.col Listing Rinks within 20 miles of 11211
	.row
		.col.col-2
			%input#datepicker{placeholder:'Enter Date'}
			%input#address{placeholder:'Enter Address'}
		.col.col-2
			%span Sort by Upcoming

.container
	.row
		.col
			1 of 2
		.col
			1 of 2
	.row
		.col
			1 of 3
		.col
			1 of 3
		.col
			1 of 3

