%section.flex.column.search-top
	.flex-item
		.col Listing Rinks within 20 miles of 11211
	.flex.bottom
		%input#address{placeholder:'Enter Address'}
		%input#datepicker{placeholder:'Enter Date'}
		%button.btn.btn-primary.search Search
%section.game_occurrences
