/*"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'jquery-ui';
@import 'date-picker.css';


h1 {
	color: green;
	&:hover {
		color:red;
	}
}

.example3 {
	.navbar-brand {
		line-height: 1.5em;
		font-size: 2em;
	}
	.nav >li >a {
		padding-top: 30px;
  		padding-bottom: 30px;
	}
	.navbar-toggle {
		padding: 10px;
  		margin: 25px 15px 25px 0;
	}
}

.main-form {
	padding-top: 2.5em;
	width: 33%;
	min-width: 300px;
	margin: 0 auto;
}

.ui-datepicker { font-size: 9pt !important; }