/*"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
/*
  *= require jquery-ui/datepicker
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'jquery-ui';
@import 'navbar';
@import 'upcoming';
@import 'notice';


// ---------- Home Page ----------

.main { position: relative; }

header {
  background-image: url('http://cdn1.sportngin.com/attachments/news_article/7623/5165/ice_hockey_essentials_2440.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 400px; 
}

.overlay {
  display: block;
  position: absolute;
  text-align: center;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
  .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    .intro-lead-in {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px;
    }
    .intro-heading {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px;
    }
    input {
      color: #000;
    }
  }
}


@media (min-width: 768px) {
  header .intro-text {
    padding-top: 200px;
    padding-bottom: 200px;
    .intro-lead-in {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 25px;
    }
    .intro-heading {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 75px;
      line-height: 75px;
      margin-bottom: 50px;
    }
  }
}

// ----------   END     ----------
