
@media (min-width: 530px) {
	.search-top {
		position: relative;
		> span {
			position: absolute;
			left: 1em;
			font-size: 24px;
		}
		section {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 1em;
			.left {
				float: left;
				input {
					margin: 0 .5em;
				}
			}
			.right {
				float: right;
			}
		}
	}
}

.search-top {
	height: 100px;
	width: 100%;
	background: #000;
	color: #FFF;
}